body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif
}

.flex-row {
    display: flex;
    align-items: flex-start;
}

.dark-background {
    background-color: #1F2937;
}

.high-contrast-text, #sign-up-btn {
    color: #F9FAF8;
}

.low-contrast-text {
    color: #E5E7EB;
    font-size: 18px;
}

#header, #hero-main {
    height: 100px;
    padding-left: 10%;
    padding-right: 10%;
    gap: 20px;
}

#header {
    height: 150px;
}

#header-logo {
    flex: 1 1 auto;
    font-size: 24px;
    margin-top: 16px;
}

.header-link {
    margin-top: 18px;
}

#hero-main {
    height: 500px;
}

#main-text {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    line-height: 1.0;
}

#main-left {
    width: 40%;
}

#sign-up-btn {
    background-color: #3882F6;
    border: 0px;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
}

#image-placeholder {
    height: 236.5px;
    width: 60%;
    background-color: #6e737a;
    margin-left: 35px;
}

#image-placeholder-text {
    height: 236.5px;
    line-height: 236.5px;
    text-align: center;
    margin: 0 auto;
    width: 50%;
}